h1{
    text-align: center;
    color: #305090;
    font-family: Arial;
    font-size: 5em;
}

h2{
    text-align: center;
    color: #305090;
    font-family: Arial;
    font-size: 3em;
}

p{
    font-family: Arial;
    font-size: 1.5em;
}

ul {
    font-size: 1.5em;
}

:-webkit-full-screen h2 {
    font-size: 4em;
}

:-webkit-full-screen p, :-webkit-full-screen ul {
    font-size: 2em;
    margin: 20px 60px;
}

#final_span {
    color: blue;
}

#interim_span {
    color: green;
}